@charset "utf-8";

@font-face {
  font-family: 'nauito_bold';
  src: url('/assets/fonts/nunito-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/nunito-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'nauito_regular';
  src: url('/assets/fonts/nunito-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'nauito_semibold';
  src: url('/assets/fonts/nunito-semibold-webfont.woff2') format('woff2'),
       url('/assets/fonts/nunito-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


//fonts family
$nuito-bold: 'nauito_bold';
$nuito-semibold: 'nauito_semibold';
$nuito-regular: 'nauito_regular';

// brackpoint
$device-xl: 1400px;
$device-lg: 1200px;
$device-md: 992px;
$device-sm: 768px;
$device-xs: 480px;

// color 
$black-v5: #111111;
$blue-v1: #0045A8;


@mixin respond-to($min,
$max) {
  @if $min==null {
    @media (max-width: $max - 1) {
      @content;
    }
  }
  @else if $max==null {
    @media (min-width: $min) {
      @content;
    }
  }
  @else {
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  }
}

@mixin respond-from($min, $max){
  @if $min == null{
    @media (max-width: $max - 1) {
      @content;
    }
  } @else if $max == null{
    @media (min-width: $min) {
      @content;
    }
  } @else{
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  }
}

@function rem($rem) {
  @return ($rem / 16px)+rem;
}



@import
  "utility/_base",
  "utility/_typtograpy",
  "utility/_mix",
  "utility/_reset",
  "utility/_button",
  "utility/_reuse",
  "landing/_landing";
