<!DOCTYPE html>
<html lang="en"{% if isProd != true %} class="dev"{% endif%}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ meta.title }}</title>
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/lib.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/main.css">
    {# <link rel="shortcut icon" href="{{ baseUrl }}/assets/images/fav.png" /> #}
   
</head>
<body class="onload{% if bodyClass %} {{ bodyClass }}{% endif %}">
  {% block content %} {% endblock %}
  <script>
    var siteBaseUrl = '{{ baseUrl }}';
  </script>


  <script src="{{ baseUrl }}/assets/js/lib.js"></script>
  <script src="{{ baseUrl }}/assets/js/main.js"></script>
</body>
</html>