header {
   margin-top: 58px;

   .header {
      @include flex-spacebetween;

      a {
         font-family: $nuito-semibold;
         font-size: rem(14px);
         @include font-opacity($black-v5, 0.6);
         letter-spacing: 0.14px;
         line-height: 24px;

         &:hover {
            text-decoration: none;
         }

         @media(max-width: $device-xs) {
            font-size: 12px;
         }

         img {
            margin-right: 7px;
         }
      }

      .combank-logo {
         width: 100%;
         max-width: 177px;

         @media(max-width: $device-xs) {
            max-width: 150px;
         }

         @media(max-width: 320px) {
            max-width: 140px;
         }
      }
   }
}

.hero__sec {
   padding-bottom: 25px;

   .hero__sec__wrap {
      // padding-top: 53px;
      // padding-bottom: 43px;
      position: relative;
      @include flex-center;
      /* new style */
      flex-direction: column;
      margin-top: 46px;

      .partner-logos{
         margin-bottom: 4px;
         img{
            &:nth-child(1){
               margin-right: 11px;
            }
         }
      }

      /* end new style */

      .text_wrap {
         width: 100%;
         max-width: 500px;
         text-align: center;
         position: relative;
         z-index: 999;

         h1 {
            margin-bottom: 25px;
         }

         h2{
            font-size: rem(40px);
            letter-spacing: 0.39px;
            line-height: 40px;
            margin-bottom: 18px;
            color: #111;
         }

         p {
            font-family: $nuito-regular;
            font-size: rem(16px);
            color: #111111;
            letter-spacing: 0.15px;
            text-align: center;

            @media(max-width: $device-xs) {
               font-size: 14px;
            }
         }
      }

      .cr-1 {
         position: absolute;
         left: 0;
         pointer-events: none;
         width: 100%;
         max-width: 108px;

         @media(max-width: $device-sm) {
            max-width: 70px;
         }

         @media(max-width: $device-xs) {
            max-width: 40px;
         }
      }

      .fl-1 {
         position: absolute;
         top: 20px;
         left: 7rem;
         pointer-events: none;

         @media(max-width: $device-xs) {
            top: 86px;
            left: 4rem;
            pointer-events: none;
            width: 20px;
         }
      }

      .fl-2 {
         position: absolute;
         bottom: 0px;
         left: 11rem;
         pointer-events: none;
      }

      .cr-2 {
         position: absolute;
         right: 0;
         width: 100%;
         max-width: 108px;

         @media(max-width: $device-sm) {
            max-width: 70px;
         }

         @media(max-width: $device-xs) {
            max-width: 40px;
         }
      }

      .fl-3 {
         position: absolute;
         top: 49px;
         right: 7rem;

         @media(max-width: $device-xs) {
            position: absolute;
            top: 89px;
            right: 4rem;
            width: 33px;
         }

      }
   }
}


.file-upload-sec {
   .wrap-file-upload {
      display: flex;
      justify-content: space-between;

      @media(max-width: 767px) {
         flex-direction: column;
      }

      .dopzone-sec {
         width: 100%;
         max-width: 240px;
         margin-right: 30px;

         @media(max-width: 767px) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
         }

         h4 {
            text-align: center;
            margin-bottom: 15px;
         }

         .dropzone {
            min-height: 150px;
            border: 2px solid #0A5BCD;
            background: white;
            padding: 0px;
            border-style: dashed;
            border-radius: 10px;
            position: relative;

            &.dropzone_error {
               border-color: red;
            }

            .dz-message {
               margin-top: 13px;
               position: absolute;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               width: 100%;
               height: 100%;
               opacity: 0;
            }

            .dz-message {
               margin-top: 13px;
            }

            .wrap-drop {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               padding-top: 34px;

               .file-icon {
                  padding-bottom: 21px;
               }

               .drop-text {
                  font-family: $nuito-regular;
                  font-size: 14px;
                  color: $black-v5;
                  letter-spacing: 0.14px;
                  margin-bottom: 13px;

                  img {
                     margin-right: 0.1px;
                  }

                  span {
                     font-family: $nuito-bold;
                     color: #0045A8;
                  }

                  @media(max-width: $device-xs) {
                     font-size: 12px;
                  }
               }

               .file-size-details {
                  font-family: $nuito-regular;
                  color: $black-v5;
                  font-size: 12px;
                  letter-spacing: 0.12px;
                  width: 100%;
                  max-width: 143px;
                  text-align: center;
                  padding-bottom: 25px;
               }
            }
         }
      }

      .contact-form-section {
         width: 100%;
         max-width: 509px;

         @media(max-width: 767px) {
            max-width: 100%;
         }

         h4 {
            text-align: center;
            margin-bottom: 15px;
         }


         .form-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 20px;

            @media(max-width: $device-xs) {
               flex-direction: column;
            }

            .sec {
               width: 100%;
               max-width: 240px;

               @media(max-width: 767px) {
                  max-width: 100%;
               }

               &:nth-child(1) {
                  margin-right: 29px;

                  @media(max-width: $device-xs) {
                     margin-right: 0;
                  }
               }

               .input-wrapper {
                  position: relative;
                  width: 100%;
                  height: 45px;
                  margin-bottom: 18px;

                  .floatLablel {
                     position: absolute;
                     z-index: 2;
                     left: 20px;
                     top: 14px;
                     padding: 0 2px;
                     pointer-events: none;
                     background: #fff;
                     transition: transform 300ms ease-in-out;
                     transform: translateY(-20px);
                     font-family: $nuito-regular;
                     color: #7A7A7A;
                     font-size: 12px;
                     letter-spacing: 0.09px;
                  }

                  input {
                     width: 100%;
                     height: 45px;
                     border-radius: 5px;
                     // border: solid 1px #0045A8;
                     border: solid 1px #EEEEEE;
                     background-color: #fff;

                     &:invalid+label {
                        transform: translateY(0);
                     }

                     font-family: $nuito-regular;
                     color: #7A7A7A;
                     font-size: 12px;
                     letter-spacing: 0.09px;
                     padding-left: 10px;



                     &:focus {
                        border-color: #0045A8;
                        outline: none;
                        background-color: #fff;

                        &+.floatLablel {
                           transform: translateY(-20px);
                           background-color: #fff;
                           color: #0045A8;
                        }
                     }
                  }

                  select {
                     @extend input;
                     appearance: none;
                     padding-left: 18px;

                     &:invalid+label {
                        transform: translateY(-25px);
                     }

                     &:focus {
                        border-color: #0045A8;
                        outline: none;

                        &+.floatLablel {
                           transform: translateY(-20px);
                           background-color: #fff;
                           color: #0045A8;
                        }
                     }
                  }
               }
            }
         }




      }
   }

   .submit-btn-sec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @media(max-width: $device-xs) {
         align-items: center;
      }

      button {
         margin-bottom: 21px;
      }

      .tearm-condition {
         font-family: $nuito-regular;
         font-size: 12px;
         color: $black-v5;
         letter-spacing: 0.12px;
      }
   }

   .wrap-com-logos {
      position: relative;
      width: 100%;
      @include flex-center;

      .com-logos {
         width: 100%;
         max-width: 420px;
         margin: 0 auto;
         margin-top: 26px;
         margin-top: 30px;
         @include flex-center;
         justify-content: space-between;

         @media(max-width: $device-xs) {
            max-width: 100%;
            @include flex-center;
         }

         img {

            margin-right: 11px;

            &:last-child {
               margin-right: 0;
            }

            @media(max-width: $device-xs) {
               width: 100%;
               max-width: 70px;
            }

         }
      }

      .fl-bt-1 {
         position: absolute;
         top: 0;
         left: 82px;
      }

      .fl-bt-2 {
         position: absolute;
         bottom: 0;
         right: 0;
      }
   }
}

.flatpickr-calendar {
   top: 334px !important;

   @media(max-width: $device-sm) {
      top: 331px !important;
   }

   @media(max-width: 767px) {
      top: 51rem !important;
   }

   @media(max-width: $device-xs) {
      top: 464px !important;
   }

   @media(max-width: 320px) {
      top: 503px !important;
   }
}

.event.busy {
   background: #f64747;
}


// agreement styles 

.form-group {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;



}

.check-box-wrap {
   display: flex;
   justify-content: flex-start;
   align-items: center;

   @media(max-width: $device-xs) {
      align-items: flex-start;
   }

   input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: flex;
      cursor: pointer;
      margin-right: 10px;

      @media(max-width: $device-xs) {
         margin-top: 3px;
      }
   }


   .ageement-lbl {
      position: relative;
      cursor: pointer;
      font-family: "nauito_regular";
      font-size: 12px;
      color: #111111;
      letter-spacing: 0.12px;
      margin-bottom: 0;
      text-align: left;
      display: block;

      a {
         position: relative;
         cursor: pointer;
         font-family: $nuito-bold;
         font-size: 12px;
         color: #000;
         letter-spacing: 0.12px;
      }


   }

}

#terms-error {
   text-align: center;
   padding-top: 10px;
}

.lbl-error {
   margin-left: 22px;
}

// form button 
.wrp-form-btn {
   width: 100%;
   height: 100px;
   position: relative;

   .form-btn-sec {
      position: absolute;
      left: 0;

      @media(max-width: 767px) {
         width: 100%;
         left: 50%;
         transform: translateX(-50%);
      }
   }
}


.dz-progress {
   display: none;
}


.wrap-content {
   text-align: center;
   font-family: $nuito-regular;
   font-size: rem(18px);
   color: rgba(17, 17, 17, 0.6);
   letter-spacing: 0.15px;
   text-align: center;
   padding-bottom: 9rem;
   padding-top: 6rem;
}