.submit-btn{
   width: 100%;
   max-width: 177px;
   height: 42px;
   border-radius: 24px;
   background: linear-gradient(#F9D022, #FAE34C);
   border: none;
   box-shadow: 0 2px 5px 0 rgba(10,5,74,0.15);
   font-family: $nuito-semibold;
   font-size: 14px;
   letter-spacing: -0.09px;
   @include transition-speed;
   @media(max-width: $device-xs){
      font-size: 12px;
   }
   &:hover{
      transform: scale(1.05);
   }
   img{
      margin-left: 7px;
   }  

}