.container__landing {
   width: 100%;
   max-width: 810px;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;

}




aks-file-upload {
   width: 310px;
   display: block;
   margin: 0 auto;
   margin-top: 4rem;
}

#uploadfile {
   width: 80%;
   margin: 0 auto;
   color: #002c7b;
   line-height: 1.5;
   margin-top: 2rem;
   margin-bottom: 2rem;
}



.error {
   font-family: $nuito-semibold;
   font-size: 11px;
   color: red;
   margin-bottom: -6px;
}


.winner-data {
   width: 100%;
   .container__landing{
      position: relative;
   }

   .f-h {
      width: 100%;
      background-color: #F9D630;
      padding-top: 11px;
      padding-bottom: 10px;
      position: sticky;
      top: 0;

      p {
         font-family: $nuito-semibold;
         font-size: rem(18px);
         color: #000;
         text-align: center;
         letter-spacing: 0.17px;
      }
   }

   .s-h {
      background-color: #0850B4;
      padding-top: 12px;
      padding-bottom: 11px;
      position: sticky;
      top: 46px;
      // @media(max-width: 1024px){
      //    top: 44px;
      // }
      @media(max-width: 767px){
         top: 40px;
      }

      p {
         font-family: $nuito-semibold;
         font-size: rem(16px);
         letter-spacing: 0.15px;
         color: #fff;
         text-align: center;
      }
   }
}

.table{
   margin-bottom: 0;
   thead{
      background-color: #003073;
      position: sticky;
      top: 93px;
      @media(max-width: 1024px){
         top: 92px;
      }
      @media(max-width: 992px){
         top: 90px;
      }
      @media(max-width: 767px){
         top: 80px;
      }
      // @media(max-width: 767px){
      //    top: 38px;
      // }
      th{
         border-top: none;
         font-family: $nuito-semibold;
         font-size: rem(12px);
         color: #fff;
         letter-spacing: 0.12px;
         border-right: solid 1px rgba(255, 255, 255, 0.5);
         &:last-child{
            border-right: none;
         }
      }
   }

   tbody{
      tr{
         &:nth-child(odd){
            background-color: #F7F8F8;
         }
         &:nth-child(even){
            background-color: #fff;
         }
         th{
            text-align: center;
         }
         td,th{
            border-top: none;
            font-family: $nuito-semibold;
            font-size: rem(14px);
            color: #3E4151;
            letter-spacing: 0.14px;
         }
      }
   }
}