h1{
  font-family: $nuito-bold;
  font-size: rem(40px);
  color: $blue-v1;
  letter-spacing: 0.39px;
  line-height: 40px;
}

h4{
  font-family: $nuito-semibold;
  font-size: rem(18px);
  color: $black-v5;
  letter-spacing: 0.17px;
  
}