{% extends "layouts/landing.njk" %}
{% set bodyClass = "p-landing" %}
{% block content %}
   <main>
      <header>
         <div class="container__landing">
            <div class="header">
               <a href="https://www.combank.lk/" class="link">
                  <img src="{{ baseUrl }}/assets/images/header/left-arrow.png" alt="icon">
                  Back to combank.lk
               </a>
               <img src="{{ baseUrl }}/assets/images/header/combank-log.png" alt="logo" class="combank-logo">
            </div>
         </div>
      </header>
      <section class="hero__sec">
         <div class="container__landing">
            <div class="hero__sec__wrap">
               <div class="text_wrap">
                  <h1>Arunalu Siththam 2021</h1>
                  <p>Children’s Art Competition</p>
               </div>
               <img src="{{ baseUrl }}/assets/images/banner/caract-1.png" alt="image" class="cr-1">
               <img src="{{ baseUrl }}/assets/images/banner/ban-flow-1.png" alt="image" class="fl-1">
               <img src="{{ baseUrl }}/assets/images/banner/ban-flow-2.png" alt="image" class="fl-2">
               <img src="{{ baseUrl }}/assets/images/banner/caract-2.png" alt="image" class="cr-2">
               <img src="{{ baseUrl }}/assets/images/banner/ban-flow-3.png" alt="image" class="fl-3">
            </div>
         </div>
      </section>

      <section class="file-upload-sec">
         <div class="container__landing">
            {# <div class="wrap-file-upload">
               <div class="dopzone-sec">
                  <h4>Drawing</h4>
                  <div id="dropzone">
                     <form action="/target" class="dropzone" id="my-great-dropzone">
                        <div class="wrap-drop">
                           <img src="{{baseUrl}}/assets/images/dropzone/dropzone.png" class="file-icon" alt="file-icon">
                           <p class="drop-text"><img src="{{ baseUrl }}/assets/images/dropzone/clicp.png" alt="icon">
                              <span>Add file</span> or Drop files here</p>
                           <p class="file-size-details">File format: PDF/JPG/PNG Maximum size: 5MB</p>
                        </div>
                     </form>
                  </div>
               </div>

               <div class="contact-form-section">
                  <h4>Participant's Detail</h4>
                  <form id="contactForm" action="">
                     <div class="form-wrap">
                        <div class="sec">
                           <div class="input-wrapper">
                              <input type="text" name="fullName" id="fullName" required>
                              <label class="floatLablel" for="fullName">Participant's Name*</label>
                           </div>

                           <div class="input-wrapper">
                              <input type="text" name="schoolName" id="contactNo" required>
                              <label class="floatLablel" for="contactNo">School Name*</label>
                           </div>

                           <div class="input-wrapper">
                              <input type="text" name="contactNo" id="contactNo" required>
                              <label class="floatLablel" for="contactNo">Contact No*</label>
                           </div>

                           <div class="input-wrapper">
                              <input type="text" name="parentName" id="parentName" required>
                              <label class="floatLablel" for="parentName">Parent/Guardian's Name*</label>
                           </div>

                        </div>
                        <div class="sec">

                           <div class="input-wrapper">
                              <input type="text" name="dateOfBirth" id="dateOfBirth" class="data-pick" required>
                              <label class="floatLablel" for="dateOfBirth">Participant's Date of Birth*</label>
                           </div>

                           <div class="input-wrapper">
                              <input type="text" name="potalAdress" id="potalAdress" required>
                              <label class="floatLablel" for="potalAdress">Postal Address*</label>
                           </div>

                           <div class="input-wrapper">
                              <input type="text" name="email" id="email" required>
                              <label class="floatLablel" for="email">Email*</label>
                           </div>

                        </div>
                     </div>
                     <div class="wrp-form-btn">
                        <div class="form-btn-sec">
                           <div class="form-group">
                              <div class="check-box-wrap">
                                 <input type="checkbox" name="check_confirm[]" id="agreement">
                                 <label for="agreement" class="ageement-lbl">I have read and agreed with the <a href="#">Terms & Conditions</a>.</label>
                              </div>
                              <span class="error lbl-error">Please agree with the terms & conditions</span>
                           </div>
                           <div class="submit-btn-sec">
                              <button type="submit" class="submit-btn">
                                 Submit Drawing
                                 <img src="{{ baseUrl }}/assets/images/dropzone/right-arrow.png" alt="">
                              </button>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div> #}
            <div class="wrap-content">
               <p>Time period given for submission of drawings is over.</p>
               <p>Stay tuned for announcement of winners.</p>
            </div>
            <div class="wrap-com-logos">
               <div class="com-logos">
                  <img src="{{baseUrl}}/assets/images/logos/logo-1.png" alt="logos">
                  <img src="{{baseUrl}}/assets/images/logos/logo-2.png" alt="logos">
                  <img src="{{baseUrl}}/assets/images/logos/logo-3.png" alt="logos">
               </div>
               <img src="{{ baseUrl }}/assets/images/bottom-icons/fl-bt-1.png" alt="icon" class="fl-bt-1">
               <img src="{{ baseUrl }}/assets/images/bottom-icons/fl-bt-2.png" alt="icon" class="fl-bt-2">

            </div>
         </div>
      </section>

   </main>
{% endblock %}