{% extends "layouts/landing.njk" %}
{% set bodyClass = "p-landing" %}
{% block content %}
   <main>
      <header>
         <div class="container__landing">
            <div class="header">
               <a href="https://www.combank.lk/" class="link">
                  <img src="{{ baseUrl }}/assets/images/header/left-arrow.png" alt="icon">
                  Back to combank.lk
               </a>
               <img src="{{ baseUrl }}/assets/images/header/combank-log.png" alt="logo" class="combank-logo">
            </div>
         </div>
      </header>
      <section class="hero__sec mb-5">
         <div class="container__landing">
            <div class="hero__sec__wrap">
               <div class="text_wrap">
                  <h1>Arunalu Siththam 2021</h1>
                  <p>Children’s Art Competition</p>
               </div>
               <img src="{{ baseUrl }}/assets/images/banner/caract-1.png" alt="image" class="cr-1">
               <img src="{{ baseUrl }}/assets/images/banner/ban-flow-1.png" alt="image" class="fl-1">
               <img src="{{ baseUrl }}/assets/images/banner/ban-flow-2.png" alt="image" class="fl-2">
               <img src="{{ baseUrl }}/assets/images/banner/caract-2.png" alt="image" class="cr-2">
               <img src="{{ baseUrl }}/assets/images/banner/ban-flow-3.png" alt="image" class="fl-3">
            </div>
         </div>
      </section>

      <section class="winner-data">
         <div class="container__landing">
            <div class="f-h">
               <p>Pre-School</p>
            </div>
            <div class="s-h">
               <p>Rs. 10,000 cash prize winners</p>
            </div>

            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Prize Type</th>
                     <th>Participant's Name</th>
                  </tr>
               </thead>
               <tbody class="table-hover">
                  <tr>
                     <td>1</td>
                     <td>Cash</td>
                     <td>Sehath Basilu Weerapperuma</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Cash</td>
                     <td>Sapuarachchi Gunasekara Pamara</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Cash</td>
                     <td>Liyanage Nuvie Amaya Perera</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Cash</td>
                     <td>N.P.Anulki Gihansa Dehen</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Cash</td>
                     <td>Y W Sayuni Thisumsa Wijethunga</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Cash</td>
                     <td>P.M. Sethuni Dihansa Somarathna</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Cash</td>
                     <td>H.P.Thisumi Warangana Madhusanka</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Cash</td>
                     <td>Mihinya Dinendee Jasinarachchi</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Cash</td>
                     <td>Wadu Thantiri Kinudi Isora</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Cash</td>
                     <td>K P Jinadi Seneliya Siriwardena</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Cash</td>
                     <td>B.M. Thavinsa Bandara</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Cash</td>
                     <td>R.M Shasheen Samadhi Wijerathna</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Cash</td>
                     <td>Nisangi Yugaksha Rajapaksha</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Cash</td>
                     <td>Sandavi Ruhansa Sahabandu</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Cash</td>
                     <td>V. R Vimansa Prabhawitha</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Cash</td>
                     <td>Disini Diyana Kulathunga</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Cash</td>
                     <td>U. W. Nawoda Thewmini Piyasinghe</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Cash</td>
                     <td>Oneli Venaya De Silva</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Cash</td>
                     <td>D.M. Sayuni Dewhara Dissanayaka</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Cash</td>
                     <td>B.A. Suhansi Tharulya Bollegala</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Cash</td>
                     <td>D A Chenuki Sawenya Danansooriya</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Cash</td>
                     <td>Rathnayaka Mudiyensalage Tharushi Dananjana </td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Cash</td>
                     <td>Gamage Himayu Hasarendi</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Cash</td>
                     <td>Isas Insilu Kalansooriya</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Cash</td>
                     <td>Chanudi Nulara Wickrama Arachchi</td>
                  </tr>

               </tbody>
            </table>
            <div class="s-h">
               <p>Merit Awards</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody class="table-hover">
                  <tr>
                     <td>1</td>
                     <td>Merit</td>
                     <td>Chesadi Gissell Taliyah Wickramathilake</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Merit</td>
                     <td>Wickramage Resandu Thehas Kularathna</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Merit</td>
                     <td>Y.M.S.S.B.Herath</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Merit</td>
                     <td>Lavini Kavitma Samarasekara</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Merit</td>
                     <td>D. Kevin Matheesha M. Hettiarachchi</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Merit</td>
                     <td>R.A.Nethuli Vinhara Ranaweera</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Merit</td>
                     <td>Thasakya Sanyana Sanavee Abayawardane</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Merit</td>
                     <td>P.Yasmith Buwinda Weerasinghe</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Merit</td>
                     <td>K.L. Nihinsa Dewmini</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Merit</td>
                     <td>Mohamed Rayan</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Merit</td>
                     <td>M.P. Thinuli Thedara Pathirana</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Merit</td>
                     <td>H.R. Sadew Induwara</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Merit</td>
                     <td>Rasandi Ranasinghe</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Merit</td>
                     <td>R. Dinuli Nethumya Jayathissa</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Merit</td>
                     <td>K.D. Nithuki Ranulya</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Merit</td>
                     <td>U.G. Thineru Thimasith</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Merit</td>
                     <td>H. Lithula Eshan</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Merit</td>
                     <td>Thewan Jayanindu Kasturiarachchi</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Merit</td>
                     <td>L.T.G. Januda Himeth Chanudika</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Merit</td>
                     <td>Mawella Vithanage Thivein Nethdinu</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Merit</td>
                     <td>W.H.M. Poojani Prathibha Kumari Wijekoon</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Merit</td>
                     <td>Kashmin Janithma Delgahawatta</td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Merit</td>
                     <td>W. Ranumi Linaya Fernando</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Merit</td>
                     <td>Deshan Jayasekera</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Merit</td>
                     <td>L. Yuneli Dilansa Sanjeewa</td>
                  </tr>
                  <tr>
                     <td>26</td>
                     <td>Merit</td>
                     <td>Kariyawasam Hewa Manage Thiseni Sethumsa</td>
                  </tr>
                  <tr>
                     <td>27</td>
                     <td>Merit</td>
                     <td>Enuli Sanulya Don Munasinghe</td>
                  </tr>
                  <tr>
                     <td>28</td>
                     <td>Merit</td>
                     <td>H.M. Minadi Tilanya Methnara Herath</td>
                  </tr>
                  <tr>
                     <td>29</td>
                     <td>Merit</td>
                     <td>K.G.R. Nisandi Mihinsa Jayarathna</td>
                  </tr>
                  <tr>
                     <td>30</td>
                     <td>Merit</td>
                     <td>Navithma Insandi Gamhewa</td>
                  </tr>
                  <tr>
                     <td>31</td>
                     <td>Merit</td>
                     <td>B.G. Rivinu Dinadith</td>
                  </tr>
                  <tr>
                     <td>32</td>
                     <td>Merit</td>
                     <td>N.L. Chalinu Jayon</td>
                  </tr>
                  <tr>
                     <td>33</td>
                     <td>Merit</td>
                     <td>A.H. Nadila Mansada Hewage</td>
                  </tr>
                  <tr>
                     <td>34</td>
                     <td>Merit</td>
                     <td>S.T. Nesandi Thisewna</td>
                  </tr>
                  <tr>
                     <td>35</td>
                     <td>Merit</td>
                     <td>Shavini Marine Withanage</td>
                  </tr>
                  <tr>
                     <td>36</td>
                     <td>Merit</td>
                     <td>R.M.Inuli Hasmali Rathnayaka</td>
                  </tr>
                  <tr>
                     <td>37</td>
                     <td>Merit</td>
                     <td>Thehan Anuhas Vitharana</td>
                  </tr>
                  <tr>
                     <td>38</td>
                     <td>Merit</td>
                     <td>Inuka Nimsath Nawurunnage</td>
                  </tr>
                  <tr>
                     <td>39</td>
                     <td>Merit</td>
                     <td>G.K.M. Akithma Danara Senarathne</td>
                  </tr>
                  <tr>
                     <td>40</td>
                     <td>Merit</td>
                     <td>Thisuli Yesansa Liyanapathirana</td>
                  </tr>
                  <tr>
                     <td>41</td>
                     <td>Merit</td>
                     <td>V.A. Rivija Pudamjith Geethula</td>
                  </tr>
                  <tr>
                     <td>42</td>
                     <td>Merit</td>
                     <td>A.G. Thurvi Ivanka</td>
                  </tr>
                  <tr>
                     <td>43</td>
                     <td>Merit</td>
                     <td>M.H. Yenuka Sethvin Bandara</td>
                  </tr>
                  <tr>
                     <td>44</td>
                     <td>Merit</td>
                     <td>Viyana Avindi Wijesiriwardana</td>
                  </tr>
                  <tr>
                     <td>45</td>
                     <td>Merit</td>
                     <td>Dulani Sehasna Wanainghe</td>
                  </tr>
                  <tr>
                     <td>46</td>
                     <td>Merit</td>
                     <td>L.E.M. Osidu Venuka Sumanarathna.</td>
                  </tr>
                  <tr>
                     <td>47</td>
                     <td>Merit</td>
                     <td>R.P. Sanuli Gihansa Kumara</td>
                  </tr>
                  <tr>
                     <td>48</td>
                     <td>Merit</td>
                     <td>K. Lanishkan</td>
                  </tr>
                  <tr>
                     <td>49</td>
                     <td>Merit</td>
                     <td>Abeyakoon Mudiyanselage Haren Bandara Rathnayake</td>
                  </tr>
                  <tr>
                     <td>50</td>
                     <td>Merit</td>
                     <td>R. Nilen Pehesara De Silva</td>
                  </tr>
               </tbody>
            </table>

            <div class="f-h">
               <p>Primary</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody class="table-hover">
                  <tr>
                     <td>1</td>
                     <td>1st Place</td>
                     <td>R.M. Sudham Samahitha Wijerathna</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>2nd Place</td>
                     <td>Weerappuli Hewage Dinuk Sejan Dhamjaya</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>3rd Place</td>
                     <td>Ayuni Wohara Weerabaddana</td>
                  </tr>
               </tbody>
            </table>

            <div class="s-h">
               <p>Rs. 10,000 cash prize winners</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Cash</td>
                     <td>V. Siluna Sasmal</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Cash</td>
                     <td>Dhona Hasya Santhindri Wijewardana</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Cash</td>
                     <td>L.A. Miyesi Liyana Arachchi</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Cash</td>
                     <td>R.M. Thimethna Sandasi Rathnayake</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Cash</td>
                     <td>M.D. Inura Nimsilu</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Cash</td>
                     <td>N.W.G. Wosadi Ugandhara Wackwella</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Cash</td>
                     <td>Hirunya Dinadi Wijesiriwardana</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Cash</td>
                     <td>D.W.G. Sayuni Lohansa Dikmadugoda</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Cash</td>
                     <td>Indikadulla Kankanamge Sayum Dulmika</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Cash</td>
                     <td>E.G. Savidya Rehansa Harasarani .</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Cash</td>
                     <td>H.M. Losandu Minhas Fernando</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Cash</td>
                     <td>Eneli Charadya Rathnayake</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Cash</td>
                     <td>Wattage Sesali Anumika Fernando</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Cash</td>
                     <td>J.W. Dulansa Thewmini</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Cash</td>
                     <td>R.V.Sinuri Chanulya Rajapaksha</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Cash</td>
                     <td>J.M.Pesandu Dinsara Jayasinghe</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Cash</td>
                     <td>A.H.T. Ranitha Layan</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Cash</td>
                     <td>Balasooriyage Sayhiru Sadiv Yanuja Perera</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Cash</td>
                     <td>Kuvindu Dilsara Wanasinghe</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Cash</td>
                     <td>Miheli Hiyansa Rodrigo</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Cash</td>
                     <td>Wijewickrama Minugi Sakithya</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Cash</td>
                     <td>Baduraliya Arachchige Chenuthi Sasmini</td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Cash</td>
                     <td>Chanula Pulmeth Mudunkotuwa</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Cash</td>
                     <td>K.D.M. Dinethma Hithaishi Dissanayake</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Cash </td>
                     <td>Nethuga Nethwin Senarathne</td>
                  </tr>
               </tbody>
            </table>

            <div class="s-h">
               <p>Merit Awards</p>
            </div>

            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Merit</td>
                     <td>E S Methuli Limansa Kariyawasam</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Merit</td>
                     <td>L.G. Nithum Sageeth Jayarathne</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Merit</td>
                     <td>Chenuka Chamod Amarasinghe</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Merit</td>
                     <td>W.B. Sanuthi Methdini</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Merit</td>
                     <td>Ruhaib Rozmi</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Merit</td>
                     <td>Danansooriya Arachchillage Thenuja Dihas Danansooriya</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Merit</td>
                     <td>T.A.D. Nethya Senomi</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Merit</td>
                     <td>P.V. Hesanya Lomini Ranasingha</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Merit</td>
                     <td>W.D. Oshitha Dhanuddara Ashen</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Merit</td>
                     <td>M.D. Himashi Vidyani</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Merit</td>
                     <td>Senul Yuwen Wickramathunga Rathnayake</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Merit</td>
                     <td>Thisini Sasvindi Godakandage</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Merit</td>
                     <td>S.A. Anuthi Yenulya Perera</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Merit</td>
                     <td>J.W. Thevuni Nadevuma De Silva</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Merit</td>
                     <td>Onali Gauravi Gamage</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Merit</td>
                     <td>Lehansa Nethusahan Liyanagama</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Merit</td>
                     <td>B.H. Sethini Sayara</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Merit</td>
                     <td>Hasali Nelumya Premawardhana</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Merit</td>
                     <td>D.M. Limeth Nidulya Dissanayaka</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Merit</td>
                     <td>Adhikari Mudiyanselage Miheli Aanya Senevirathne</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Merit</td>
                     <td>Riyon Sandinu Weerapperuma</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Merit</td>
                     <td>P.Chiranya Chanseya Weerasinghe</td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Merit</td>
                     <td>D.H. Vethara Kithnuli</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Merit</td>
                     <td>Sikkuge Abhisess Dinsitha</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Merit</td>
                     <td>Withanage Sidath Jayanath Wijesundara</td>
                  </tr>
                  <tr>
                     <td>26</td>
                     <td>Merit</td>
                     <td>Kawithmi Dulanya Yapa</td>
                  </tr>
                  <tr>
                     <td>27</td>
                     <td>Merit</td>
                     <td>H. A. Mihindee Methunima Hapugalaarachchi</td>
                  </tr>
                  <tr>
                     <td>28</td>
                     <td>Merit</td>
                     <td>Mansadhi Prabudhya Jayasinghe</td>
                  </tr>
                  <tr>
                     <td>29</td>
                     <td>Merit</td>
                     <td>H.W.A. Esandu Nethmira</td>
                  </tr>
                  <tr>
                     <td>30</td>
                     <td>Merit</td>
                     <td>N.P. Navindi Uthara Nimsarani</td>
                  </tr>
                  <tr>
                     <td>31</td>
                     <td>Merit</td>
                     <td>Dewmi Ahinsa Wewelwala</td>
                  </tr>
                  <tr>
                     <td>32</td>
                     <td>Merit</td>
                     <td>U.G. Hesanya Thewnuli</td>
                  </tr>
                  <tr>
                     <td>33</td>
                     <td>Merit</td>
                     <td>R.M. Jenadi Dahamsa Ranasinghe</td>
                  </tr>
                  <tr>
                     <td>34</td>
                     <td>Merit</td>
                     <td>B.Thenuli Sahansa Weerasekara</td>
                  </tr>
                  <tr>
                     <td>35</td>
                     <td>Merit</td>
                     <td>K.H. Senumi Thisumli</td>
                  </tr>
                  <tr>
                     <td>36</td>
                     <td>Merit</td>
                     <td>M. Adithya Uththara Fernando</td>
                  </tr>
                  <tr>
                     <td>37</td>
                     <td>Merit</td>
                     <td>Minangee Dasanya Kulathunaga</td>
                  </tr>
                  <tr>
                     <td>38</td>
                     <td>Merit</td>
                     <td>A. Thisathra Hasanlee Akurukalawita</td>
                  </tr>
                  <tr>
                     <td>39</td>
                     <td>Merit</td>
                     <td>H.M. Manuli Odara</td>
                  </tr>
                  <tr>
                     <td>40</td>
                     <td>Merit</td>
                     <td>Fathima Hayah Mubarak</td>
                  </tr>
                  <tr>
                     <td>41</td>
                     <td>Merit</td>
                     <td>W. Yesath Thewmika Wickramage</td>
                  </tr>
                  <tr>
                     <td>42</td>
                     <td>Merit</td>
                     <td>G.C.M. Vinudula Minsara</td>
                  </tr>
                  <tr>
                     <td>43</td>
                     <td>Merit</td>
                     <td>H. A. Jenadee Dileinya</td>
                  </tr>
                  <tr>
                     <td>44</td>
                     <td>Merit</td>
                     <td>J. Minuli Sasithma Gunathilaka</td>
                  </tr>
                  <tr>
                     <td>45</td>
                     <td>Merit</td>
                     <td>L.A. Evin Induwara</td>
                  </tr>
                  <tr>
                     <td>46</td>
                     <td>Merit</td>
                     <td>Manikku Baduge Sethuni Ransiluni</td>
                  </tr>
                  <tr>
                     <td>47</td>
                     <td>Merit</td>
                     <td>Nethum Thedas Dinujitha</td>
                  </tr>
                  <tr>
                     <td>48</td>
                     <td>Merit</td>
                     <td>Pahan Ransaka Hettiachchi</td>
                  </tr>
                  <tr>
                     <td>49</td>
                     <td>Merit</td>
                     <td>Gagana Gawesh Wijesinghe</td>
                  </tr>
                  <tr>
                     <td>50</td>
                     <td>Merit</td>
                     <td>Tanaya Nanayakkara</td>
                  </tr>
               </tbody>
            </table>

            <div class="f-h">
               <p>Post Primary</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>

               <tbody>
                  <tr>
                     <td>1</td>
                     <td>1st Place</td>
                     <td>H. A. Nethumini Wathmaavi Gunarathna</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>2nd Place</td>
                     <td>K.M.Nethuki Linodhya.</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>3rd Place</td>
                     <td>H.M Kalindu Dineth Amayuru</td>
                  </tr>
               </tbody>
            </table>

            <div class="s-h">
               <p>Rs. 10,000 cash prize winners</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Cash</td>
                     <td>Yashodhara Damsaree Wikramarathna Siriwardhana</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Cash</td>
                     <td>Enasha Munasinghe</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Cash</td>
                     <td>Elisha Munasinghe</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Cash</td>
                     <td>Vihas Sehitha Pattiarachchi</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Cash</td>
                     <td>P.A. Lithumi Hesara Ambagahage</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Cash</td>
                     <td>D.M. Senara Sithumila Senarathna</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Cash</td>
                     <td>W. Duleeshi Dilsara Kalhara</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Cash</td>
                     <td>Udawaththa Disanayakage Vinsara Thulshan Karunathilaka</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Cash</td>
                     <td>Kariyawasam Jalath Jinuka Dulkith Jayasekara</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Cash</td>
                     <td>Kariyawasam Jalath Janiru Jineth Jayasekara</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Cash</td>
                     <td>M.G. Savinu Senmith</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Cash</td>
                     <td>Yashwika Ranaweera</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Cash</td>
                     <td>Indikadulla Kankanamge Saven Dulnaka</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Cash</td>
                     <td>G.G. Sanuli Liyansa Wijesinghe</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Cash</td>
                     <td>Manuth Pandilu Rathnayake</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Cash</td>
                     <td>Dahamya Sayumdi Ranasinghe</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Cash</td>
                     <td>Chethasi Amaya Tennakoon</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Cash</td>
                     <td>Lithula Adithya Soysa</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Cash</td>
                     <td>Sawundra Hannadige Dewmini Thimathyaa De Silva</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Cash</td>
                     <td>Sawundra Hannadige Dhilmini Adhithyaa De Silva</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Cash</td>
                     <td>R.D. Sasiridhu Methsara Priyadewa</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Cash</td>
                     <td>E.A. Sethuli Sanumika Bandara Edirisinghe</td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Cash</td>
                     <td>Pumal Damsara Wickramasinghe</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Cash</td>
                     <td>K.D. Sadew Dahamsa Silva</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Cash</td>
                     <td>Wannigama Lithumi Damsedi Abeywickrama</td>
                  </tr>
               </tbody>
            </table>

            <div class="s-h">
               <p>Merit Awards</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Merit</td>
                     <td>L.G. Chenuka Rehan Jayarathne</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Merit</td>
                     <td>Kavinu Kisal Amarasinghe</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Merit</td>
                     <td>H.A. Tusanda Gagana Senpathi</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Merit</td>
                     <td>P.G. Navindi Udamsa Chandradasa</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Merit</td>
                     <td>N.H.Vinuji Ashmitha</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Merit</td>
                     <td>G. Amasha Nethsarani Madapitiya</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Merit</td>
                     <td>B.M. Ruhara Thavasari</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Merit</td>
                     <td>R.M. Chatrika Methmin Ratnayake</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Merit</td>
                     <td>Sehas Sasrutha Kalansooriya</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Merit</td>
                     <td>D.M. Sanuji Sithumila Senarathna</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Merit</td>
                     <td>N.W.G. Sandhitha Dewnija</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Merit</td>
                     <td>G.A. Mihini Nethaya</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Merit</td>
                     <td>Hewa Kankanamge Chenuki Dulanima</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Merit</td>
                     <td>D.M. Dulinsa Imandi Dissanayake</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Merit</td>
                     <td>H.M.A.D. Sathini Sinelya Malaviarachchi</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Merit</td>
                     <td>Savithma Minduli Mendis</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Merit</td>
                     <td>Adhikari Mudiyanselage Oneshi Yenara Senevirathne</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Merit</td>
                     <td>Tharuli Lehansa Rajapaksha</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Merit</td>
                     <td>K. H. Nethum Sansitha Hansana</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Merit</td>
                     <td>H.P.Chenuri Vihansa</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Merit</td>
                     <td>H. A. Isindu Dishan</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Merit</td>
                     <td>Sapuarachchi Gunasekara Dohara</td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Merit</td>
                     <td>A. Sanuthmi Sehasna Athukorala</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Merit</td>
                     <td>L.A.L. Shalomi Lokubalasuriya</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Merit</td>
                     <td>K.M. Nawam Sandayuru Kulathunga</td>
                  </tr>
                  <tr>
                     <td>26</td>
                     <td>Merit</td>
                     <td>K.Hansani Sathsarani</td>
                  </tr>
                  <tr>
                     <td>27</td>
                     <td>Merit</td>
                     <td>Tharuka Sanujitha Wickramasooriya</td>
                  </tr>
                  <tr>
                     <td>28</td>
                     <td>Merit</td>
                     <td>R.P .Chirathi Dehansha</td>
                  </tr>
                  <tr>
                     <td>29</td>
                     <td>Merit</td>
                     <td>Sanuthi Nehansa Kithnuli Dasanayaka</td>
                  </tr>
                  <tr>
                     <td>30</td>
                     <td>Merit</td>
                     <td>W.B.M.Sanindi Sandupaba Munasinghe</td>
                  </tr>
                  <tr>
                     <td>31</td>
                     <td>Merit</td>
                     <td>M.G.Lihini Mahisha Durangi Bandara</td>
                  </tr>
                  <tr>
                     <td>32</td>
                     <td>Merit</td>
                     <td>Nindu Nihinsa Wewelwala</td>
                  </tr>
                  <tr>
                     <td>33</td>
                     <td>Merit</td>
                     <td>J.A.Sanuli Vidunika Jayasinghe</td>
                  </tr>
                  <tr>
                     <td>34</td>
                     <td>Merit</td>
                     <td>Sandushi Sanulya De Alwis</td>
                  </tr>
                  <tr>
                     <td>35</td>
                     <td>Merit</td>
                     <td>J.M. Nivethma Methnuli Weerathunga</td>
                  </tr>
                  <tr>
                     <td>36</td>
                     <td>Merit</td>
                     <td>Pawani Poornima Wijesinghe</td>
                  </tr>
                  <tr>
                     <td>37</td>
                     <td>Merit</td>
                     <td>M. Ravindu Theja Fernando</td>
                  </tr>
                  <tr>
                     <td>38</td>
                     <td>Merit</td>
                     <td>M.A. Sithumini Wasana Athukorala</td>
                  </tr>
                  <tr>
                     <td>39</td>
                     <td>Merit</td>
                     <td>D.G. Lesandu Menuja</td>
                  </tr>
                  <tr>
                     <td>40</td>
                     <td>Merit</td>
                     <td>Dasangee Madhurya Kulathunga</td>
                  </tr>
                  <tr>
                     <td>41</td>
                     <td>Merit</td>
                     <td>Senuli Rashwitha Menon</td>
                  </tr>
                  <tr>
                     <td>42</td>
                     <td>Merit</td>
                     <td>R.M.A.S Dinsarie Rajakaruna</td>
                  </tr>
                  <tr>
                     <td>43</td>
                     <td>Merit</td>
                     <td>Hewage Vinuj Radinsa Karunarathna</td>
                  </tr>
                  <tr>
                     <td>44</td>
                     <td>Merit</td>
                     <td>Sanuga Sandith Perera</td>
                  </tr>
                  <tr>
                     <td>45</td>
                     <td>Merit</td>
                     <td>K. I. Sesali Chanudima Kariyawasam</td>
                  </tr>
                  <tr>
                     <td>46</td>
                     <td>Merit</td>
                     <td>R. M. Kenula Nethmira</td>
                  </tr>
                  <tr>
                     <td>47</td>
                     <td>Merit</td>
                     <td>Paththinige Thisev Evmith</td>
                  </tr>
                  <tr>
                     <td>48</td>
                     <td>Merit</td>
                     <td>Premananth Madu Varsha</td>
                  </tr>
                  <tr>
                     <td>49</td>
                     <td>Merit</td>
                     <td>Iluppiti Vidanalage Gehansa Risandi</td>
                  </tr>
                  <tr>
                     <td>50</td>
                     <td>Merit</td>
                     <td>Sanuli Yehansa Kariyawasam</td>
                  </tr>
               </tbody>
            </table>

            <div class="f-h">
               <p>Junior</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>1st Place</td>
                     <td>M.A. Hansika Kalhara</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>2nd Place</td>
                     <td>P.Chanul Nethmira Wickramarathna</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>3rd Place</td>
                     <td>P.H.Hansara Maneth</td>
                  </tr>
               </tbody>
            </table>
            <div class="s-h">
               <p>Rs. 10,000 cash prize winners</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Cash</td>
                     <td>Wathukarage Thilini Pabasara Wathukarage</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Cash</td>
                     <td>Hendadura Nimeth Selanga De Zoysa</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Cash</td>
                     <td>Raveen Ridmal Senevirathna Jayawardena</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Cash</td>
                     <td>O.G. Binuthi Sanulya Ovitigama</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Cash</td>
                     <td>S. P. Poojani Senadheera</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Cash</td>
                     <td>M.Tinashi Kaveesha Vasana</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Cash</td>
                     <td>Hiruki Balapatabendi</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Cash</td>
                     <td>R. G. Thiviru Radun</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Cash</td>
                     <td>B.K.Rachika Rinusha Biyanwala</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Cash</td>
                     <td>S.P.Thinuka Rashen</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Cash</td>
                     <td>E.G.Kavithma Induwarani</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Cash</td>
                     <td>Mohamed Zharan Mohamed Musthaq</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Cash</td>
                     <td>H.A.Sandumina Anuhas</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Cash</td>
                     <td>S.R.Dihein Jayawardena</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Cash</td>
                     <td>G.Chithmini Thewansa</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Cash</td>
                     <td>M.A. Subodhi Jayodya</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Cash</td>
                     <td>H.S. Indusara Karunarathna</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Cash</td>
                     <td>W.Nethlini Minara Perera</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Cash</td>
                     <td>K.D.Hiruka Disas Niduwara Amarasingha</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Cash</td>
                     <td>W.V.Sayuri Sanjana</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Cash</td>
                     <td>W.Rithika Udan Sathsidu Wijesinghe</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Cash</td>
                     <td>Sandra Marakkala Sanuni Minrada Silva</td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Cash</td>
                     <td>T.A.Dineth Rashmika</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Cash</td>
                     <td>Udage Kankanamge Dilshani Upeksha Widyawardhana</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Cash</td>
                     <td>K. I. Senudi Chithulima Kariyawasam</td>
                  </tr>
               </tbody>
            </table>
            <div class="s-h">
               <p>Merit Awards</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Merit</td>
                     <td>H.T.Oshan Chamuditha Wijesuriya</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Merit</td>
                     <td>Y. Siheli Methunadi De Silva</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Merit</td>
                     <td>T.M.Kavindya Gimhani Muhandiram</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Merit</td>
                     <td>B. S. G. Sesandi Dahara</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Merit</td>
                     <td>H.T.Kulansa Vihini Jayawardhana</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Merit</td>
                     <td>Kivindi Matheesha</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Merit</td>
                     <td>M.A.S.Mariyam</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Merit</td>
                     <td>L.H.D.Charuka Sankalpa</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Merit</td>
                     <td>Aamina Mariyam Ajizal</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Merit</td>
                     <td>Kankanange Chanidu Penula</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Merit</td>
                     <td>Dewage Nihara Indumini</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Merit</td>
                     <td>I.L.G.Bhashika Damsara</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Merit</td>
                     <td>D.P.Isumi Lisara Kumarasiri</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Merit</td>
                     <td>Vinudi Dahamsa Kankanamge</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Merit</td>
                     <td>Hettige Chethula Nimruk Gunasekara</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Merit</td>
                     <td>R P Vishwa Rashmika Rusiru Kumara</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Merit</td>
                     <td>L.Lisandi Senara Kithsiri</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Merit</td>
                     <td>Nethma Nathan Kurukulasooriya</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Merit</td>
                     <td>N.A.Tinaya Senuli</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Merit</td>
                     <td>Sandeena Sayumdee Wijayamanthri Gunathilaka</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Merit</td>
                     <td>U.M.Thisumi Ranithma Silva</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Merit</td>
                     <td>Chanudi Chavindya Prahansi Ranasinghe</td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Merit</td>
                     <td>Faisal Hamtha Banu</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Merit</td>
                     <td>N A Lesara Lewmini</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Merit</td>
                     <td>W.J.A.P. Panchali Sidhangana</td>
                  </tr>
                  <tr>
                     <td>26</td>
                     <td>Merit</td>
                     <td>B.D.Methuki Nethma Sanindi</td>
                  </tr>
                  <tr>
                     <td>27</td>
                     <td>Merit</td>
                     <td>H. G. Manuli Yasora Kavindi </td>
                  </tr>
                  <tr>
                     <td>28</td>
                     <td>Merit</td>
                     <td>Sinali Susanya Wanninayake</td>
                  </tr>
                  <tr>
                     <td>29</td>
                     <td>Merit</td>
                     <td>Sithumlee Risindi Ediriweera</td>
                  </tr>
                  <tr>
                     <td>30</td>
                     <td>Merit</td>
                     <td>K.Nadeen Dinujaya Senarath</td>
                  </tr>
                  <tr>
                     <td>31</td>
                     <td>Merit</td>
                     <td>R.D. Usith Rusira Priyadewa</td>
                  </tr>
                  <tr>
                     <td>32</td>
                     <td>Merit</td>
                     <td>K.A.D.Sandithi Kariyawasam</td>
                  </tr>
                  <tr>
                     <td>33</td>
                     <td>Merit</td>
                     <td>H.T.Tonali Anjana Hettiarachchi</td>
                  </tr>
                  <tr>
                     <td>34</td>
                     <td>Merit</td>
                     <td>M.F. Amna</td>
                  </tr>
                  <tr>
                     <td>35</td>
                     <td>Merit</td>
                     <td>R.A.Sasuli Uthkarsha Rupasinghe</td>
                  </tr>
                  <tr>
                     <td>36</td>
                     <td>Merit</td>
                     <td>P.H.Kisandu Uthsara</td>
                  </tr>
                  <tr>
                     <td>37</td>
                     <td>Merit</td>
                     <td>Janindi Bomithma Wijerathne</td>
                  </tr>
                  <tr>
                     <td>38</td>
                     <td>Merit</td>
                     <td>Vijithabala Rishevarma</td>
                  </tr>
                  <tr>
                     <td>39</td>
                     <td>Merit</td>
                     <td>K.Manomi Nathasha</td>
                  </tr>
                  <tr>
                     <td>40</td>
                     <td>Merit</td>
                     <td>Menadhi Nelithna Kodikara</td>
                  </tr>
                  <tr>
                     <td>41</td>
                     <td>Merit</td>
                     <td>Dambure Liyanage Ayushmi Amama Thilini</td>
                  </tr>
                  <tr>
                     <td>42</td>
                     <td>Merit</td>
                     <td>G.A.Gangul Danodya</td>
                  </tr>
                  <tr>
                     <td>43</td>
                     <td>Merit</td>
                     <td>S.L.M. Kanishka Shashadhara Samarathunga</td>
                  </tr>
                  <tr>
                     <td>44</td>
                     <td>Merit</td>
                     <td>Ranvidu Sithum Vathsala Wijesinghe</td>
                  </tr>
                  <tr>
                     <td>45</td>
                     <td>Merit</td>
                     <td>Thiviru Weththasinghe</td>
                  </tr>
                  <tr>
                     <td>46</td>
                     <td>Merit</td>
                     <td>Ahmed Khan Mohamed Afrin</td>
                  </tr>
                  <tr>
                     <td>47</td>
                     <td>Merit</td>
                     <td>Manikku Baduge Viduni Pehesarani</td>
                  </tr>
                  <tr>
                     <td>48</td>
                     <td>Merit</td>
                     <td>H.Sadaruwani Chiranima De Silva</td>
                  </tr>
                  <tr>
                     <td>49</td>
                     <td>Merit</td>
                     <td>Dinura Thejana De Silva</td>
                  </tr>
                  <tr>
                     <td>50</td>
                     <td>Merit</td>
                     <td>Vasavie Muraleetharan</td>
                  </tr>
               </tbody>
            </table>

            <div class="f-h">
               <p>Senior</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>1st Place</td>
                     <td>K.A. Dinindu Thekshana Chamikara Kahandawala</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>2nd Place</td>
                     <td>K. Nimesh Chamath Perera</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>3rd Place</td>
                     <td>H.T. Nawodi Diwyanjala</td>
                  </tr>
               </tbody>
            </table>
            <div class="s-h">
               <p>Rs. 10,000 cash prize winners</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Cash</td>
                     <td>H.T.Hasini Jayanga Wijesuriya</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Cash</td>
                     <td>K.A.G. Ameesha Dewmini Rathnayake</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Cash</td>
                     <td>Venuja Kaveen Saram</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Cash</td>
                     <td>A.W. Thedas Semika Chandrasekara</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Cash</td>
                     <td>H.A. Lasiru Sadeepa Gunarathna</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Cash</td>
                     <td>R.M.Warangana Sandamini Rathnayake</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Cash</td>
                     <td>D.K.Dulari Dhananjana</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Cash</td>
                     <td>H. Yasith Ishan Dewranga</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Cash</td>
                     <td>W.A.Lisara Semindi Senarathvithana</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Cash</td>
                     <td>W.M.K.Vidyani Bandara</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Cash</td>
                     <td>R.G.Shanuka Lakshan</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Cash</td>
                     <td>H. Sinali Ruwanya Thushmini Peiris</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Cash</td>
                     <td>Ukwatha liyanage Dilshan Sathsidu Kanishka</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Cash</td>
                     <td>Narmada Bharathi Bandara</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Cash</td>
                     <td>R.A.Ranumi Limansa</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Cash</td>
                     <td>W.Romina Peiris</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Cash</td>
                     <td>S J Thanuri Aruthsha Siriwardana</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Cash</td>
                     <td>K.P.Adeesha Udara dilshan</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Cash</td>
                     <td>R.P.D Sethmini Tharunima Jayaweera</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Cash</td>
                     <td>V.D.S.L.Kethmini Dayarathne.</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Cash</td>
                     <td>G.D.gimhan Chathuminda</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Cash</td>
                     <td>S.N.M.Methara Yenuli Dedunupitiya</td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td>Cash</td>
                     <td>Thesanga Disasni Kariyawasam</td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td>Cash</td>
                     <td>S. M. Oneli Heshani Samarakoon</td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td>Cash</td>
                     <td>K.P. Vinuth Thejaka Abeywardhane</td>
                  </tr>
               </tbody>
            </table>
            <div class="s-h">
               <p>Merit Awards</p>
            </div>
            <table class="table">
               <thead>
                  <th></th>
                  <th>Prize Type</th>
                  <th>Participant's Name</th>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Merit</td>
                     <td>D.T Kenneth Sheron Pabasara</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Merit</td>
                     <td>T.G. Noorun Nadha</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Merit</td>
                     <td>W.Lakshika Poorni Wijayarathna</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>Merit</td>
                     <td>D.G.Nikini Nilanjana Jayawardena</td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td>Merit</td>
                     <td>E.M.Kalani Kaveesha Ekanayake</td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>Merit</td>
                     <td>P. K. A. Manuja Dineth Shanaka</td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td>Merit</td>
                     <td>K.G. Praveen Sanjana Jayakodi</td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td>Merit</td>
                     <td>W.A.Sineli Methaya</td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td>Merit</td>
                     <td>Harindi Himansa Godage</td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td>Merit</td>
                     <td>M.K.Naveena Nethumi</td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td>Merit</td>
                     <td>K.A. Jayanitha Dineth</td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td>Merit</td>
                     <td>O.Dinuki Sandeepani Perera</td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td>Merit</td>
                     <td>Oshada Nuwan Gamage Perera</td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td>Merit</td>
                     <td>H.M.D.Suwarnika Dehigasthenna</td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td>Merit</td>
                     <td>T.D.Thulani Sahanya</td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td>Merit</td>
                     <td>Walpola Vithange Thilovi Dilhara</td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td>Merit</td>
                     <td>Horagoda Gamage Ridma Chalangana</td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td>Merit</td>
                     <td>Navindu Janod Harshana Fernando</td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td>Merit</td>
                     <td>D.G Dewmini Tharushika Galpadige</td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td>Merit</td>
                     <td>J.M.Tanisha Sadini Jayasinghe</td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td>Merit</td>
                     <td>W.D Imashi Abhisheka</td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td>Merit</td>
                     <td>H D Methumni Minsadi Wijayamanthri Gunathilaka</td>
                  </tr>
               </tbody>
            </table>
            <div class="m-5"></div>
         </div>
      </section>

      <section class="file-upload-sec mb-5">
         <div class="container__landing">
            <div class="wrap-com-logos">
               <div class="com-logos">
                  <img src="{{baseUrl}}/assets/images/logos/logo-1.png" alt="logos">
                  <img src="{{baseUrl}}/assets/images/logos/logo-2.png" alt="logos">
                  <img src="{{baseUrl}}/assets/images/logos/logo-3.png" alt="logos">
               </div>
               <img src="{{ baseUrl }}/assets/images/bottom-icons/fl-bt-1.png" alt="icon" class="fl-bt-1">
               <img src="{{ baseUrl }}/assets/images/bottom-icons/fl-bt-2.png" alt="icon" class="fl-bt-2">

            </div>
         </div>
      </section>

   </main>
{% endblock %}